body {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(46, 46, 48, 0.39);
  margin: 50px;
}

#gamecanvas {
  border: 1px black solid;
  background-size: cover;
}

#header {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(145, 164, 248);
  border-radius: 30px;
  box-shadow: rgba(46, 46, 48, 0.39);
}

#main {
  display: none;
}

#keyboard-div {
  display: none;
}

.logo {
  width: 250px;
}

section {
  padding: 10px 0;
}

.logo,
.background-picker,
.stadium-bg,
.outdoor-bg,
.mode-selector,
#start-button {
  padding: 20px;
  margin: auto;
  flex-direction: row !important;
  display: flex;
  justify-content: space-around;
}

.background-picker > div > a > img {
  width: 250px !important;
  max-width: 100%;
}

#skill-section,
#start-section {
  display: none;
}

.charge-attack-row {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.charge-attack {
  width: 20px;
  height: 20px;
  /* background-color: blue; */
  border-radius: 50%;
  border: 1px solid blue;
}

.mode-selector > button,
#start-button,
#gamecontrols > button {
  padding: 10px;
  color: blue;
  font-size: 1.3em;
}

#keyboard td {
  border: 1px solid #dddddd;
  padding: 10px;
  background-color: white;
}

.activeKey {
  background-color: rgba(255, 0, 0, 0.733) !important;
  color: white !important;
  border: 3px solid rgba(255, 0, 0, 0.733);
}

.deactiveKey {
  background-color: "none";
  border: "none";
}

footer {
  bottom: 0;
  margin: 20px 0;
  align-self: center;
}

/* Shake animation https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */

.score-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  /* perspective: 1000px; */
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
  body {
    transform: scale(1);
    transform-origin: 0 0;
  }

  #gamecanvas {
    transform: scale(0.6);
    transform-origin: 0 0;
  }

  #keyboard-div {
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  .mode-selector > button,
  #start-button,
  #gamecontrols > button {
    padding: 5px;
    color: blue;
    font-size: 0.5em;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  body {
    transform: scale(1);
    transform-origin: 0 0;
  }

  #gamecanvas {
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  #keyboard-div {
    transform: scale(0.9);
    transform-origin: 0 0;
  }

  .mode-selector > button,
  #start-button,
  #gamecontrols > button {
    padding: 8px;
    color: blue;
    font-size: 0.9em;
  }
}

